<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.inf.kcl.ac.uk/zschaler/gridgames/GridGame" 
       class = "uk.ac.kcl.inf.zschaler.gridgames.gridGame.GridGamePackage"
       genModel = "model/generated/GridGame.genmodel" /> 
	
  </extension>



</plugin>
